
@page
@model webapp.Pages.Vakken.SVakkenModel
@using DatabaseController
@using webapp.Models
@{
    ViewData["Title"] = "Vakken";
    List<Vak> Vakken = new List<Vak>();
    List<List<string>> returnstatement = new DBConnection().Send("SELECT * FROM projectcdb.ingeschrevenvakken WHERE UserID = "+Sessie.GetInstance.getLoginUserID()+";");
    if (returnstatement != null) {
        foreach (var i in returnstatement)
        {
            Vak a = new Vak();
            a.SelectOne(Convert.ToInt32(i[2]));
            Vakken.Add(a);
            a.setinfo();

        }
    }


}

<!DOCTYPE html>
<html lang="en">
<style>


    .myButton {
	    box-shadow:inset 0px 1px 0px 0px #97c4fe;
	    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	    background-color:#3d94f6;
	    border-radius:13px;
	    display:inline-block;
	    cursor:pointer;
	    color:#ffffff;
	    font-family:Arial;
	    font-size:15px;
	    font-weight:bold;
	    padding:10px 20px;
	    text-decoration:none;
	    text-shadow:0px 1px 0px #1570cd;
    }
    .myButton:hover {
	    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	    background-color:#1e62d0;
    }
    .myButton:active {
	    position:relative;
	    top:1px;
    }


</style>
<form method="post" style="display: inline">
    <button class="myButton">Herlaad vakken</button>
</form>
<div class="col-xs-6">
    <h2 class="sub-header">Mijn Vakken</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Naam</th>
                    <th class="col-md-1">Locaal</th>
                    <th class="col-md-1">Docent</th>
                    <th class="col-md-1">Discriptie</th>
                    <th class="col=md-1">Dag</th>
                    <th class="col=md-1">Van</th>
                    <th class="col=md-1">Tot</th>
                    <th align="right" class="col=md-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Vakken)
                {

                <tr>
                    <td nowrap>@item.Naam</td>
                    <td>@item.Locaal</td>
                    <td>@item.Docent</td>
                    <td nowrap>@item.Discriptie</td>
                    <td>@item.dagnaam</td>
                    <td>@item.van</td>
                    <td>@item.tot</td>
                    <td> <form method="post" style="display: inline">
                        <input hidden="hidden" asp-for="postit" value="@item.VakID" />
                        <button class="myButton">Verwijder</button>
                         </form>
                    </td>

                    <td align="right" ref="#" class="myButton" asp-controller="SVakkenModel" asp-action="BehandelVak" asp-route="@item.VakID">Verwijder</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</html>
