@page
@model webapp.Pages.Vragen.Steleenvraag.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models

@{
    ViewData["Title"] = "Maak een Wachtrij";
    var time = DateTime.Now;
    var time2 = DateTime.Now.AddHours(3);
    List<string> dates = new List<string>();
    for(int x  = 0; x < 4; x++)

    {
        var newtime = time.AddMinutes(x * 15);
        var temp = RoundDown(newtime);
        dates.Add(temp.ToString("H:mm"));
    }

   List<string> enddate = new List<string>();

    for(int x  = 0; x < 8; x++)

    {
        var newtime = time2.AddMinutes(x * 15);
        var temp = RoundDown(newtime);
        enddate.Add(temp.ToString("H:mm"));
    }


}
@functions {
     public DateTime RoundDown(DateTime dateTime)
        {
            return new DateTime(dateTime.Year, dateTime.Month, 
                 dateTime.Day, dateTime.Hour, (dateTime.Minute / 15) * 15, 0);
        }
}
<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Maak een wachtrij</title>
    </head>

    <body>
        <form method="post" style="display: inline" action="/Menu/PMenu">
    
            <br />
            <select id="selectNumber">
                <option>Kies begintijd</option>
                <option> @dates[0]</option>
                <option> @dates[1]</option>
                <option> @dates[2]</option>
                <option> @dates[3]</option>
            </select>
            <select id="selectNumber2">
                <option>Kies eindtijd</option>
                <option> @enddate[0]</option>
                <option> @enddate[1]</option>
                <option> @enddate[2]</option>
                <option> @enddate[3]</option>
                <option> @enddate[4]</option>
                <option> @enddate[5]</option>
                <option> @enddate[6]</option>
                <option> @enddate[7]</option>
            </select>
            <br />

        </form>
        <form style="display: inline" action="../Menu/PMenu" method="get">
            <button>Submit</button>
        </form>
    </body>
</html>

<script>
    //todo jurriaans vakken weergeven invoegen
    //todo add a fucntionality

    var tijdenweergeven = @dates;
    for(i = 0; i < 4; i++) {
        var opt = document.createElement("option");
        document.getElementById("selectNumber").innerHTML += '<option id="' + i + '">' + @dates[1]) + '</option>';
    }

     var endwachtrij = @enddate;
    for(i = 0; i < 8; i++) {
        var opt = document.createElement("option");
        document.getElementById("selectNumber2").innerHTML += '<option id="' + i + '">' + @enddate[1] + '</option>';
    }
</script>
