
@page
@model webapp.Pages.MakeQueue.Queue
@using DatabaseController
@using webapp.Models
@{
    ViewData["Title"] = "Vraag stellen";

    Wachtrij temp = new Wachtrij();
    temp.SelectOne(0);
    var vragen = temp.getVragen(0);
    var vragen2 = temp.getVragen(1);
    int temp2 = temp.getVragenAmount();

}

<!DOCTYPE html>
<html lang="en">
    <div class="col-xs-6">
        <h2 class="sub-header">Te behandelen vragen</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Vraag</th>
                        <th class="col-md-2">Naam</th>
                        <th class="col-md-3">Lokaal</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        var count = 0;
                    }
                    @foreach (var item in vragen)
                    {   count++;
                        if(count > 5)
                        {
                            break;
                        }
                        User user = new User();

                        user.SelectOne(item.UserID);

                        <tr>
                            <td class="col-md-1">@item.VraagText</td>
                            <td class="col-md-2">@user.Voornaam</td>
                            <td class="col-md-3">@item.Locatie</td>
                            <button type="button" class="btn btn-success">Behandel</button>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h2 class="sub-header">Vragen in behandeling</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Vraag</th>
                        <th class="col-md-2">Naam</th>
                        <th class="col-md-3">Lokaal</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        var count2 = 0;
                    }
                    @foreach (var item in vragen2)
                    {   count2++;
                        if(count2 > 5)
                        {
                            break;
                        }
                        User user = new User();

                        user.SelectOne(item.UserID);

                        <tr>
                            <td class="col-md-1">@item.VraagText</td>
                            <td class="col-md-2">@user.Voornaam</td>
                            <td class="col-md-3">@item.Locatie</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</html>
