@page
@model webapp.Pages.Vragen.Steleenvraag.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models
@using System;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Create";
    var time = DateTime.Now;

    int UserID = Sessie.GetInstance.getLoginUserID();
    List<Vak> vakken = new List<Vak>();

    List<List<string>> connect = new DBConnection().Send("SELECT * FROM projectcdb.ingeschrevenvakken where UserID = " + UserID.ToString() + ";");
    foreach (List<string> temp in connect)
    {
        Vak a = new Vak();
        a.SelectOne(Convert.ToInt32(temp[2]));
        vakken.Add(a);
    }

    List<Wachtrij> Wachtrijen = new List<Wachtrij>();
    List<List<string>> connect2 = new DBConnection().Send("SELECT * FROM projectcdb.wachtrij;");
    foreach (List<string> temp in connect2)
    {
        Wachtrij a = new Wachtrij();
        a.SelectOne(Convert.ToInt32(temp[0]));
        Wachtrijen.Add(a);

    }

    List<Vraag> Vragen = new List<Vraag>();
    DBConnection dbc = Sessie.GetInstance.dbc;
    List<List<string>> returnstatement = dbc.Send("SELECT * FROM projectcdb.vraag WHERE IsFAQ = 1;");
    if (returnstatement != null)
    {

        foreach (var i in returnstatement)
        {
            Vraag a = new Vraag();
            a.SelectOne(Convert.ToInt32(i[0]));
            Vragen.Add(a);
            List<List<String>> vk = dbc.Send("SELECT * FROM projectcdb.vak WHERE VakID = '"+i[2]+"';");
            a.VakNaam = vk[0][3];

        }

    }



}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voer hier je vraag in</title>

</head>

<body>
    <form method="post" style="display: inline">
        <input asp-for="VraagText" placeholder="kies je vraag" />
        <br />
        <select id="selectNumber" placeholder="kies je vak" asp-for="VakID">

            @foreach (var item in vakken)
            {
                <option value="@item.VakID"> @item.Naam</option>

            }
        </select>


        <br />
        <input id="SelectLocatie" placeholder="Kies je locatie" asp-for="Locatie" />

        <br />
        <select id="selectNumber" placeholder="kies je Wachtrij" asp-for="WachtrijID">

            @foreach (var item in Wachtrijen)
            {
                <option value="@item.WachtrijID"> @item.Name</option>
            }
        </select>


        <button>Submit</button>
    </form>
    <div class="col-xs-6">
        <h2 class="sub-header">FAQ</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Vak</th>
                        <th class="col-md-1">Vraag</th>
                        <th class="col-md-1">Antwoord</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Vragen)
                    {

                        <tr>
                            <td nowrap>@item.VakNaam</td>
                            <td>@item.VraagText</td>
                            <td>@item.AndwoordText</td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>