@page
@model webapp.Pages.Vragen.Steleenvraag.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Vraag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Vraag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.VakID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.VakID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.VraagText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.VraagText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.AndwoordText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.AndwoordText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.IsFAQ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.IsFAQ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
