@page
@model webapp.Pages.Vragen.Steleenvraag.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].VakID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].VraagText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].AndwoordText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].IsFAQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vraag[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vraag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VakID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VraagText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AndwoordText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFAQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VraagID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.VraagID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.VraagID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
