
@page
@model RazorPagesQuestion.Pages.Waitinglists.CreateModel
@using System;
@using System.Globalization;


@{
    ViewData["Title"] = "Create";
    List<string> starttimes = getTimes();

    static List<string> getTimes()
    {
        List<string> time = new List<string>(4);
        DateTime localDate = DateTime.Now;
        for (int i = 0; i < 4; i++)
        {
           hourMinute=DateTime.Now.ToString("HH:mm");

            time[i] = temp;
        }

        return time;
    }
}

<h1>Create</h1>

<h4>Waitinglist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Waitinglist.ID" class="control-label"></label>
                <input asp-for="Waitinglist.ID" class="form-control" />
                <span asp-validation-for="Waitinglist.ID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <select name="cars" class="form-group">
                    <option selected>Kies een tijd</option>
                    <option value=@starttimes[0]>@starttimes[0]</option>
                    <option value=@starttimes[1]>@starttimes[1]</option>
                    <option value=@starttimes[2]>@starttimes[2]</option>
                    <option value="@starttimes[3]">@starttimes[3]</option>
                  
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Waitinglist.Enddtime" class="control-label"></label>
                <input asp-for="Waitinglist.Enddtime" class="form-control" />
                <span asp-validation-for="Waitinglist.Enddtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
